@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

#root {
  /* width:200px;
  margin: 40px auto; */
  background: black;
}

.top {
  height: 20px
}

.result {
  height: 150px;
  background: #2B2B2B;
  margin: 10px 0 10px 0;
  overflow-x: auto;
  white-space: nowrap;
}

.formula {
  font-family: 'Oswald', sans-serif;
  text-align: end;
  height: 35%;
  font-size: 30px;
  color: white;
  padding: 0 10px 0 10px;
}

.resultValue {
  font-family: 'Oswald', sans-serif;
  text-align: end;
  height: 65%;
  font-size: 44px;
  color: white;
  padding: 0 10px 0 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

button {
  font-family: 'Oswald', sans-serif;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 5px;
  background: #2B2B2B;
  border: none;
  color: white;
  font-size: 40px;
  padding: 0;
}

.clear button {
  background: #9C9C9C;
}

.numLower {
  display: flex;
}

.zero button {
  width: 150px;
  border-radius: 50px;
  text-align: left;
  padding-left: 25px;
}

.operator button {
  background: #F58326;
}

.operator {
  display: flex;
  flex-direction: column;
}